body {
  padding: 20px 50px;
}

.topic {
  color: rgba(98, 93, 93, 0.829);
}

.question {
  color: #076d26e2;
  font-size: 20px;
  text-decoration: underline;
}

/* Q1 */
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 800px;
  margin-left: 12px;
}

tr {
  height: 30px;
}

tr:nth-child(odd) {
  background-color: #84a1c53e;
}

#head {
  background-color: #4a87d185;
}

.name {
  font-size: large;
  color: #124fa4;
}

/* Q2 */
input {
  width: 30%;
  border: 2px solid rgb(225, 220, 220);
  border-radius: 20px;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  margin-left: 20px;
}

/* Q3 */
ol,
ul {
  list-style-position: inside;
  font-size: 18px;
}

.ordered-list {
  font-size: 18px;
  color: #1d608a;
}

.unordered-list {
  font-size: 18px;
  color: #6c4aa2d5;
}

/* Q4 */
select {
  width: 140px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #253b93;
  border-radius: 5px;
}
